{% extends 'base.html' %}

{% block title %}
StudyUP | Database
{% endblock title %}

{% block body %}
<h1 class="mt-2">Answer</h1>
<table class="table table-hover table-condensed table-sm table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>question_id</th>
            <th>choice_id</th>
              
        </tr>
    </thead>
    <tbody>
    {% for answer in answers %}
    <tr>
        <td>{{answer.id}}</td>
        <td>{{answer.question_id}}</td>
        <td>{{answer.choice_id}}</td>
       
    <tr>
    {% endfor %} 
    </tbody>
</table>

<div class="space2"></div>
<div class="mb-5"></div>
<a class="btn-lg btn-danger mt-5" href="{{url_for('practice.select')}}">
    Create another answer
</a>

<a class="btn-lg btn-danger mt-5 ml-5" href="{{url_for('main.index')}}">
    Go to Home
</a>
{% endblock body %}

{% block scripts %}

{% endblock scripts %}