{% extends 'base.html' %}

{% block title %}
StudyUP | Database
{% endblock title %}

{% block body %}
<h1 class="mt-2">User</h1>
<table class="table table-hover table-condensed table-sm table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>image_file</th>
            <th>password</th>
            <th>user type</th>
              
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.image_file}}</td>
        <td>{{user.password}}</td>
        <td>{{user.user_type}}</td>
       
    <tr>
    {% endfor %} 
    </tbody>
</table>

<div class="space2"></div>
<div class="mb-5"></div>

{% endblock body %}

{% block scripts %}

{% endblock scripts %}