{% extends 'base.html' %}

{% block title %}
StudyUP | Database
{% endblock title %}

{% block body %}
<h1 class="mt-2">Question</h1>
<table class="table table-hover table-condensed table-sm table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>body</th>
            <th>solution_id</th>
            <th>image_file</th>
            <th>unit_no</th>
            <th>topic_no</th>
        </tr>
    </thead>
    <tbody>
    {% for question in questions %}
    <tr>
        <td>{{question.id}}</td>
        <td>{{question.body}}</td>
        <td>{{question.solution_id}}</td>
        <td>{{question.image_file}}</td>
        <td>{{question.unit_no}}</td>
        <td>{{question.topic_no}}</td>
    <tr>
    {% endfor %} 
    </tbody>
</table>

<h1 class="mt-2">Choices</h1>
<table class="table table-hover table-condensed table-sm table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>body</th>
            <th>question_id</th>
        </tr>
    </thead>
    <tbody>
    {% for choice in choices %}
    <tr>
        <td>{{choice.id}}</td>
        <td>{{choice.body}}</td>
        <td>{{choice.question_id}}</td>
    <tr>
    {% endfor %} 
    </tbody>
</table>

<div class="space2"></div>
<div class="mb-5"></div>
<a class="btn-lg btn-danger mt-5" href="{{url_for('question.create_question')}}">
    Create another question
</a>

<a class="btn-lg btn-danger mt-5 ml-5" href="{{url_for('main.index')}}">
    Go to Home
</a>
{% endblock body %}

{% block scripts %}

{% endblock scripts %}