{% extends 'base.html' %}

{% block body %}
    <div class="mt-4"></div>
    <form action="" method="post">
        <fieldset>
        {% for i in range(length) %}
        <h3 class="mb-4"> {{ questionArray[i].body }} </h3>

        {% if questionArray[i].image_file %}
        <div> <img src="{{ url_for('static', filename='img/' + questionArray[i].image_file) }}" alt=""> </div>
        {% endif %}
        
        <div class="form-group">
            {% for opt in formArray[i].answer %}

                <div class="form-group d-flex">
                {{opt(class=i, id="{{i}}-{{loop.index}}")}}
                {# <label id="c-{{i}}-{{loop.index}}" for="opt-{{i}}-{{loop.index0}}" class="btn-sm btn-secondary mr-3 mt-1 hover-hand">></label> #}
                <span id="fc-{{i}}-{{loop.index}}" class="form-control"></span>
                </div>
            {% endfor %}
        </div>

        <div class="border-top mt-5 mb-5 my-3"></div>
        {% endfor %}
        </fieldset>
        <input type="submit" class="btn btn-primary">
    </form>


    
{% endblock body %}

{% block scripts %}
<script>
let questionIdArray = {{questionIdArray}};

//IIFE for loading choices of each question as well as changing name attr of each form
(function() {
'use strict';
window.addEventListener('load', function() {  
    
    //change form(radio button) class to i ('0', '1')
    for (let i=0; i < {{length}}; i++) {
        let temp = document.getElementsByClassName(i)
        for (let j = 0; j < temp.length; j++) {
            temp[j].name = i
            temp[j].id = "opt-" + i + "-" + j
            temp[j].classList.add("mt-3")
            // temp[j].classList.add("hideRadioBtn")
            // temp[j].classList.add("custom-control-input")
        }
    }
    
    
    for (let i = 0; i < {{ length }}; i++) {
        fetch('/api/choices' + '-' + questionIdArray[i]).then(function(response) { 
        response.json().then(function(data) {
        
        let fc_1 = document.getElementById('fc-' + i + '-1')
        let fc_2 = document.getElementById('fc-' + i + '-2')
        let fc_3 = document.getElementById('fc-' + i + '-3')
        let fc_4 = document.getElementById('fc-' + i + '-4')

            let fcList = [fc_1, fc_2, fc_3, fc_4]
        
        for (let i = 0; i < data.choices.length; i++) {
            fcList[i].innerHTML = data.choices[i]
        }
        
        })
    });
    }
}, false);
})();


function toggleBtnOn(on, offList, sClass) {
    for (let i = 0; i < sClass.length; i++) {
        on.classList.add(sClass[i])
    }
    for (let i = 0; i < offList.length; i++) {
        if (on === offList[i]) {
        } else {
            for (let j = 0; j < sClass.length; j++) {
                offList[i].classList.remove(sClass[j])
            }
        }   
    }
}

function toggleBtnOff(off, onList, sClass) {
    for (let i = 0; i < sClass.length; i++) {
        off.classList.remove(sClass[i])
    }
    for (let i = 0; i < onList.length; i++) {
        if (off === onList[i]) {
        } else {
            for (let j = 0; j < sClass.length; j++) {
                onList[i].classList.add(sClass[j])
            }
        }   
    }
}


for (let i = 0; i < {{ length }}; i++) {

    let fc_1 = document.getElementById('fc-' + i + '-1')
    let fc_2 = document.getElementById('fc-' + i + '-2')
    let fc_3 = document.getElementById('fc-' + i + '-3')
    let fc_4 = document.getElementById('fc-' + i + '-4')
    let fcList = [fc_1, fc_2, fc_3, fc_4]

    let c_1 = document.getElementById('c-' + i + '-1')
    let c_2 = document.getElementById('c-' + i + '-2')
    let c_3 = document.getElementById('c-' + i + '-3')
    let c_4 = document.getElementById('c-' + i + '-4')
    cList = [c_1, c_2, c_3, c_4]

    for (let i = 0; i < cList.length; i++) {
        cList[i].addEventListener('click', function() {
            toggle2('c'+(i+1).toString(), fcList, cList)
        })
    }        
}


/*
Name: toggle2
Creation Date: Jan 23, 2020
Purpose: toggle logic for correct choice buttons
Args: num (string) - determines which button is to be toggled
*/
function toggle2(num, fcList, cList) {
    if (num === 'c1') {
        toggleBtnOn(c_1, cList, ['btn-primary', 'active'])
        toggleBtnOn(fc_1, fcList, ['blue-bg'])
        toggleBtnOff(c_1, cList, ['btn-secondary'])
        
    } else if (num === 'c2') {
        toggleBtnOn(c_2, cList, ['btn-primary', 'active'])
        toggleBtnOn(fc_2, fcList, ['blue-bg'])
        toggleBtnOff(c_2, cList, ['btn-secondary'])
        
    } else if (num === 'c3') {
        toggleBtnOn(c_3, cList, ['btn-primary', 'active'])
        toggleBtnOn(fc_3, fcList, ['blue-bg'])
        toggleBtnOff(c_3, cList, ['btn-secondary'])
        
    } else if (num === 'c4') {
        toggleBtnOn(c_4, cList, ['btn-primary', 'active'])
        toggleBtnOn(fc_4, fcList, ['blue-bg'])
        toggleBtnOff(c_4, cList, ['btn-secondary']) 
    } 
}

</script>
{% endblock scripts %}