{% extends 'base.html' %}

{% block title %}
StudyUP | Practice
{% endblock title %}

{% block body %}
<form id="qForm" action="" method="POST" class="needs-validation" novalidate>
    {{ form.csrf_token }}
    <h1 class="jumbotron">Practice</h1>
    
    <fieldset class="form-group">
    <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
        <div class="form-group">    
            <h3>Course</h3>
                {{form.course_id(class="form-control")}}
                
        </div>

        <div class="form-group">
            <h3>Topic</h3>
            {{form.topicList(class="form-check-label", id="options")}}

            <div id="topic-error" class="invalid-feedback">Please choose at least one topic</div> 

            {% for error in form.topicList.errors %}
                {{ error }}
            {% endfor %}
        </div>

        
    </fieldset>
        <div class="d-flex justify-content-md-center">
        <button type="button" class="btn btn-danger mr-5" data-toggle="modal" data-target="#Modal">
            Cancel
        </button>
        {{form.submit(class="btn btn-primary")}}
        </div>
    </div>
    <div class="col-2"></div>
</form>

{% endblock body %}

{% block scripts %}
<script>
(function() {
    'use strict';
    window.addEventListener('load', function() {  
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
        });
    
    fetch('/api/available-topics').then(function(response) { 
        
        response.json().then(function(data) {   
        let liHTML = ''
        for (let i = 0; i < data.topics.length; i++) {
            liHTML += '<li>'
            liHTML+='<input id = "topicList-' + i + '" name="topicList" type="checkbox" value="' + data.topics[i].id + '">'
            liHTML+='<label class="hover-hand" for="topicList-' + i + '">' + data.topics[i].name + '</label> </li>'
        }
        document.getElementById('options').innerHTML = liHTML
        })
    });
    }, false);
    })();


let q_form = document.getElementById('qForm')
let topicErrorMsg = document.getElementById('topic-error')
q_form.addEventListener('submit', () => {
    if ($('input[name=topicList]:checked').length <= 0) { 
        topicErrorMsg.classList.add('d-block')  
        event.preventDefault()
        event.stopPropagation()
    }
})

q_form.addEventListener('change', () => {
    if ($('input[name=topicList]:checked').length > 0) {  
        topicErrorMsg.classList.remove('d-block')
    } 

})
    


</script>
{% endblock scripts %}