{% extends 'base.html' %}

{% block title %}
StudyUP | Practice
{% endblock title %}
{% block body %}
    <div class="mt-4"></div>
   
    <div id="timer"></div>
    
    <div class="row">
    
    <div class="col-2">
        
    </div>
    <div class="col-8">
    <form action="" method="post" id="answerForm">
        <fieldset>
        {% for i in range(length) %}
        
        <div class="shadow-sm card">
            <div class="card-body">
                <div class="card-title"><h5 class="mb-4"> {{ questionArray[i].body }} </h5></div>
                

        {% if questionArray[i].image_file %}
        <div> <img src="{{ url_for('static', filename='img/' + questionArray[i].image_file) }}" alt=""> </div>
        {% endif %}
        
        <div class="card-text">
            <div class="form-group">
                {% for opt in formArray[i].answer %}

                    <div class="form-group d-flex">
                    {{opt(class=i, id="{{i}}-{{loop.index}}")}}
                    <label id="fc-{{i}}-{{loop.index}}" for="opt-{{i}}-{{loop.index0}}" class="choiceText hover-hand">></label> 
                    
                    </div>
                {% endfor %}
                
            </div>
        </div>

            </div>
        </div>
        <div class="border-top mt-5 mb-5 my-3"></div>
        {% endfor %}
        </fieldset>
        <input type="submit" class="btn btn-primary">
    </form>
    </div>
    <div class="col-2"></div>
    </div>


<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Are you sure you want to exit practice?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Data that you have entered will not be saved.
        </div>
        <div class="modal-footer">
            <a id="a-modal" class="btn btn-danger" href="{{url_for('main.index')}}">Yes</a>  
        </div>
        </div>
    </div>
</div>



    
{% endblock body %}

{% block scripts %}
<script>
let questionIdArray = {{questionIdArray}};

//IIFE for loading choices of each question as well as changing name attr of each form
(function() {
'use strict';
window.addEventListener('load', function() {  
    
    //change form(radio button) class to i ('0', '1')
    for (let i=0; i < {{length}}; i++) {
        let temp = document.getElementsByClassName(i)
        for (let j = 0; j < temp.length; j++) {
            temp[j].name = i
            temp[j].id = "opt-" + i + "-" + j
            temp[j].classList.add("mt-2")
            // temp[j].classList.add("hideRadioBtn")
            // temp[j].classList.add("custom-control-input")
        }
    }

    (async function getChoices() {
        for (let i = 0; i < {{ length }}; i++) {
                await fetch('/api/choices' + '-' + questionIdArray[i]).then(function(response) { 
                response.json().then(function(data) {
                
                console.log("i:",i, "content: ", questionIdArray[i])

                let fc_1 = document.getElementById('fc-' + i + '-1')
                let fc_2 = document.getElementById('fc-' + i + '-2')
                let fc_3 = document.getElementById('fc-' + i + '-3')
                let fc_4 = document.getElementById('fc-' + i + '-4')

                    let fcList = [fc_1, fc_2, fc_3, fc_4]
                
                for (let i = 0; i < data.choices.length; i++) {
                    fcList[i].innerHTML = data.choices[i]
                }
                
                })
            });
        }
    })()
    
    
    
}, false);
})();





let timerDiv = document.getElementById('timer')
let timerCtr = 0
let timeLeft = {{timeLeft}} 

//time Formatter
let getTime = (s) => {
    let minute = Math.floor(s/60)
    let second = s % 60
    let tempStr = ''
    if (minute >= 10) {
        tempStr += minute + ' : '
    } else {
        tempStr += '0' + minute + ' : '
    }

    if (second >= 10) {
        tempStr += second
    } else {
        tempStr += '0' + second
    }
    return tempStr

}

//time function, if time out, automatically submits form (regardless of answered or not)
let timeTick = () => {
    timerCtr = timerCtr + 1
    timerDiv.innerHTML = getTime(timeLeft - timerCtr)
    if (timerCtr == timeLeft) {
        document.getElementById('answerForm').submit()
    }

}

setInterval(timeTick, 1000)

let exitClick = document.getElementsByClassName('click-exit')
for (let i = 0; i < exitClick.length; i++) {
    exitClick[i].addEventListener("mouseenter", function() {

        if (exitClick[i].name == "btn-home") {
            document.getElementById('a-modal').href = "{{url_for('main.index')}}"
        } else if (exitClick[i].name == "btn-practice") {
            document.getElementById('a-modal').href = "{{url_for('practice.select')}}"
        } else if (exitClick[i].name == "btn-discuss") {
            document.getElementById('a-modal').href = "{{url_for('discussion.select')}}"
        }



        $('#Modal').modal('toggle')
    })
}

</script>
{% endblock scripts %}
