{% extends 'base.html' %}

{% block title %}
StudyUP | Create Question
{% endblock title %}

{% block body %}
<form id="qForm" action="" enctype=multipart/form-data method="POST" class="needs-validation" novalidate>
    {{ form.csrf_token }}
    <h1 class="jumbotron">Create Question</h1>
    
    <fieldset class="form-group">
    <div class="row">

    <div class="col-8 question-form">
        {# COURSE #}
        
        <div class="form-group question-form-topic">
            <h3>Topic</h3>
            <div class="form-group">
            {% for topic in form.topic_no %}
                {{topic}} {{topic.label(class="hover-hand")}} <br>
            {% endfor %}
            </div>
        </div>
    </div>

        {{form.timer(class="hideRadioBtn")}}
        <div>
        <div class="form-group">
            <h3>Question</h3>
        {{form.body(placeholder="Question", class="form-control", autocomplete="off")}}
        </div>
        <div class="form-group">
            <h3>Add Picture</h3>
                <input type=file name=image>
        </div>
        <h3>Choices</h3>
        {% for opt in form.solution_id %}
            {% if loop.index == 1 %}
            <div class="form-group d-flex">
                {{ opt(class="hideRadioBtn") }} {{opt.label(class="btn-sm btn-secondary mr-3 mt-1 hover-hand", id="c_1", onclick="toggle2('c1')")}}
                {{form.choice_1(placeholder="Choice 1", class="form-control", autocomplete="off", id="fc_1")}}
            </div>
            {% endif %}
            {% if loop.index == 2 %}
            <div class="form-group d-flex">
                {{ opt(class="hideRadioBtn") }} {{opt.label(class="btn-sm btn-secondary mr-3 mt-1 hover-hand", id="c_2", onclick="toggle2('c2')")}}
                {{form.choice_2(placeholder="Choice 2", class="form-control", autocomplete="off", id="fc_2")}}   
            </div>
            {% endif %}
            {% if loop.index == 3 %}
            <div class="form-group d-flex">
                {{ opt(class="hideRadioBtn") }} {{opt.label(class="btn-sm btn-secondary mr-3 mt-1 hover-hand", id="c_3", onclick="toggle2('c3')")}}
                {{form.choice_3(placeholder="Choice 3", class="form-control", autocomplete="off", id="fc_3")}}
            </div>
            {% endif %}
            {% if loop.index == 4 %}
            <div class="form-group d-flex">
                {{ opt(class="hideRadioBtn") }} {{opt.label(class="btn-sm btn-secondary mr-3 mt-1 hover-hand", id="c_4", onclick="toggle2('c4')")}}
                {{form.choice_4(placeholder="Choice 4", class="form-control", autocomplete="off", id="fc_4")}}
            </div>
            {% endif %}
            {% endfor %}
            <div id="choice-error" class="invalid-feedback">Please mark the correct answer</div> 
        </div>
        
    </fieldset>
        <div class="d-flex justify-content-md-center">
        <button type="button" class="btn btn-danger mr-5" data-toggle="modal" data-target="#Modal">
            Cancel
        </button>
        <div id="topic-error" class="invalid-feedback">Please choose a topic</div> 
        {{form.submit(class="btn btn-primary")}}
        </div>
    </div>
    <div class="col-2"></div>
</form>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Are you sure you want to exit question creation?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Data that you have entered will not be saved.
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger" href="{{url_for('main.index')}}">Yes</a>  
        </div>
      </div>
    </div>
    </div>
  {% endblock body %}
  {% block scripts %}
<script src="{{url_for('static', filename='js/create-question.js')}}"></script>
  {% endblock scripts %}
