.navbar-custom {
  background-color: #a50606;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
}


html {
  scroll-behavior: smooth;
}

.navbar-custom:hover { 
  color: black;
}

.navbar a:hover {
  transition: 0.25s;
  color:#ec2f2f;
}

.navbar a {
  color: white;
}

a:disabled {
  color: yellow;
}

.hideRadioBtn {
  display: none;
}

.hover-hand {
  z-index:1;
  cursor: pointer;
}


footer {
  justify-content: center;
}

.ht {
  height: 100%;
}



.footer-bg {
  background-color: #a50606;
  color: white;
}

.footer-link a{
  color: white;
  
}

.footer-link a{
  text-decoration: none;
  
}

.footer-link a:hover {
  transition: 0.25s;
  color:#ec2f2f;
}


.space {
  height: 1000px;
}

.space2 {
  height: 200px;
}


@keyframes from-white-to-green {

  0% {
    background-color: white;
  }
  100% {
    background-color: #63ee81;
  }
}


.green-bg {
  animation: from-white-to-green;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

a:hover {
  text-decoration: none;
}



.question-form {
  display: flex;
}

.question-form-topic {
  min-width: 50vw;
}




@keyframes from-white-to-blue {

  0% {
    background-color: white;
  }
  100% {
    background-color: rgb(165, 207, 252);
  }
}


.blue-bg {
  animation: from-white-to-blue;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

a:hover {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

.red {
  color: red;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '›';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '‹';
  font-size: 55px;
  color: red;
}

ul {
  list-style-type: none;
}

.carousel-abs {
  position: absolute;
  top: 0;
}

.vw {
  font-size: 50vw;
}

#timer {
  top: 100px;
  position: sticky;
  
}

.sticky {
  top: 0;
  position: sticky;
}

.ztop {
  z-index: 2;
}

input[type=radio]{
  transform:scale(1.45);
  margin-right: 10px;
}

.choiceText {
  font-weight: 500;
  font-size: large;
}

.choiceText:hover {
  transform: perspective(1px) scale(1.1);
}

input[type=checkbox]{
  transform:scale(1.15);
  margin-right: 10px;
}

input[type=checkbox]:checked+label{
 
  margin-right: 10px;
  transition: 0.05s;
  font-weight: bold;
}

input[type=radio]:checked+label{
 
  margin-right: 10px;
  transition: 0.05s;
  font-weight: bold;
}

label[for*="topic"]:hover {
  transition: 0.05s;
  transform: scale(1.05);
  margin-left: 5px;
}

.btn:hover {
  transition: 0.10s;
  transform: scale(1.05);
}


.correct-answer {
  transform: scale(1.05);
  font-weight: bold;
}

.showChecked {
  display: block;
}

.hideChecked {
  display: none;
}

.full-width {
  width: 100%;
}